In [1]:
#Create a Python list using subscript operator
#syntax
list = [] #an empty lists
print(list,type(list))

[] <class 'list'>

In [2]:
# blank list
L1 = []

# list of integers
L2 = [10, 20, 30]

# List of heterogenous data types
L3 = [1, "Hello", 3.4]

print(L1, L2, L3)

[] [10, 20, 30] [1, 'Hello', 3.4]

In [3]:
list = []
print(type(list))
len(list)

<class 'list'>

0

In [6]:
l1 = list()

TypeError: 'list' object is not callable

In [7]:
theList = [iter for iter in range(5)]
#iterate over the numbers in the range of 5 i,e . all numbers starting from 0 till they are less than 5

In [8]:
print(theList)

[0, 1, 2, 3, 4]

In [9]:
country = "India"

for letter in country:
    print(letter)

I
n
d
i
a

In [ ]:
listofCountries = ["India","America","England","Germany","Brazil","Vietnam"]
lettes = ["I", "A"]
firstLetters = [ country[0] for country in listofCountries ]

#get the list of countries
#iterate over the list using the for loop
#read each element of the list, e.g. firt element would be India
#country = India
#Get the first element of the string, country which I
#store this value inside the list firstletters
print(firstLetters)
country = "India"

#print letters of the string sequentially

In [11]:
init_list = [0]*3
init_list

[0, 0, 0]

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3]) #-1 start from last index

apple

In [14]:
list1 = [1,2]
list2 = [3,2]
list1 + list2

[1, 2, 3, 2]

In [15]:
list1.extend(list2)
list1

[1, 2, 3, 2]

In [16]:
list1 = [1,2]
list2 = [3,2]
#list1+list2
list1=list1+list2
print(list1)
print(list2)

[1, 2, 3, 2]
[3, 2]

In [17]:
list3=[0,0]
list1.append(list3)
list1

[1, 2, 3, 2, [0, 0]]

In [18]:
list1[4]

[0, 0]

In [21]:
listofnumbers = [1,2,4,5,6,0]
#find the number at 2nd position of the list
#find the number at 5th position of the list
print(listofnumbers[2])
print(listofnumbers[5])

4

0

In [22]:
vowels = ['a','e','i','o','u']
#-1 to 0-n
print(vowels[-1])

print(vowels[-3])

u
i

In [43]:
testlist = [1,2,[1,2,3]]
for letter in testlist:
    if(isinstance(letter,type(list))):
        for x in letter:
            print(x)

1
2
3

In [2]:
a, b = 12, 5
if a + b:
    print('True')
else:
    print('False')

True

In [6]:
numbers = ['1','2','3']

number = numbers[1]

numbersnew = number*3  

print(type(numbersnew))

<class 'str'>

In [7]:
student = { "student1" : { "id": '1', "name": "Vaibhav", "class": 'FSD', "marks": 75 }, "student2" : { "id": '2', "name": "Vaibhav", "class": 'FSD', "marks": 75 }}

student.get('student1')

{'id': '1', 'name': 'Vaibhav', 'class': 'FSD', 'marks': 75}