# Exercise

1. Which of the following would be the resulting list after inserting the value 50 at index 2?<br>
            0: 35
            1: 15
            2: 45
            3: 28

        (a)  0: 35       (b)   0: 35        (c)  0: 50
             1: 50             1: 15             1: 35
             2: 15             2: 50             2: 15
             3: 45             3: 45             3: 45
             4: 28             4: 28             4: 28

In [1]:
list1 = [35,15,45,28]
list1.insert(2,50)
list1

[35, 15, 50, 45, 28]

Answer is B

2. Lists and tuples must each contain at least one element. (TRUE/FALSE)

false

3. For lst = [4, 2, 9, 1], what is the result of the following operation,
lst.insert(2, 3)?<br>
(a) [4, 2, 3, 9, 1] <br>        (b) [4, 3 ,2, 9, 1]      <br>     (c) [4, 2, 9, 2, 1]

Answer is A

## Question 2

In [ ]:
#What Will Be The Output Of The Following Code Snippet? <br>
a = [1,2,3,4,5] 
a[0:4:2]

A. [1,3]

B. [1,3,5]

C. [2,4]

In [6]:
a = [1,2,3,4,5] 
print(a[0:4:5])

[1]

In [2]:
# B is wrong because 5 is not inclusive in the range 0:4, it only goes from 1,2,3,4
# C is wrong because it starts from index 0

[1, 3]